@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
}

/* common classes */

.under-text {
  text-decoration-line: underline;
}

.highlight-text {
  opacity: 0.7;
}

.icon {
  padding: 2px;
}

/* body */

.page {
  background: var(--bg-color);
  color: #fff;
  min-width: 320px;
  margin: 0;
}

/* header */

.header {
  background-color: var(--bg-color-header);
  min-block-size: 76px;
  padding-left: 10px;
  padding-right: 5px;
  
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  gap: 15px;
}

.header div {
  display: flex;
  align-self: center;
}

.header__contacts {
  min-width: 75px;
  justify-content: space-between;
}

.header__cart {
  justify-content: end;
}

/* main */

.main {
  padding: 20px 10px 81px;
  font-family: Montserrat, sans-serif;
}

.main__bread-crumbs {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main__catalog {
  margin-top: 20px;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--accent-color);
  
  display: flex;
  align-items: center;
}

.main__catalog-icon {
  padding-left: 7px;
}

.main__subtitle {
  margin-top: 19px;
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.main__description {
  margin-top: 10px;
  font-family: Montserrat-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main__privilege {
  margin-top: 20px;
  font-family: Montserrat-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main__privilege-item {
  display: flex;
  align-items: center;
}

.main__privilege-item-icon {
  padding-right: 8px;
}

.main__filter-price-roller {
  margin-top: 20px;
  
  font-family: Montserrat-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  
  display: flex;
  gap: 20px;
}

.main__filter-price-roller label {
  display: block;
  width: 68px;
}

.main__filter-sort {
  margin-top: 30px;
  font-family: Montserrat-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  
  width: 210px;
  height: 41px;
  border-radius: 4px;
  
  background: url(../images/icon-next3-white.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #505050;
}

.main__cards {
  margin-top: 30px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  filter: drop-shadow(-5px 5px 18px rgba(81, 81, 81, 0.45));
  border-radius: 8px;
  background: #505050;
  padding: 4px;
  min-height: 273px;
}

.card-img {
  border-radius: 6px;
}

.card-subtitle {
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #CDCDCD;
  margin-top: 3px;
}

.card-price {
  font-family: Montserrat-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  
  text-align: left;
  margin-top: 11px;
}

.card-btns {
  display: flex;
  align-items: center;
  margin-top: 3px;
  justify-content: space-between;
}

.card-btn-more {
  width: 94px;
  height: 27px;
  background: #FF7144;
  border: 0;
  border-radius: 6px;
  padding: 6px 10px;
  
  font-family: Montserrat-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.card-btn-add-cart {
  width: 26px;
  height: 26px;
  padding: 6px 10px;
  background: transparent;
  border: 0;
  
  background-image: url(../images/icon-shopping-cart.svg);
}

.cards-number-pages {
  margin-top: 40px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  gap: 25px;
}

.transf {
  transform: rotate(180deg);
}

.transf path {
  fill: var(--accent-color);
}

.numbers-pages {
  min-width: 71px;
  display: flex;
  justify-content: space-between;
}

/* footer */

.footer {
  padding: 15px 13px 16px 10px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  height: 29px;
}

.btn-order-call {
  width: 139px;
  height: 35px;
  background-color: var(--accent-color);
  
  font-family: Montserrat-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  
  border-radius: 6px;
  border: 0;
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 18px;
  row-gap: 15px;
  font-family: Montserrat-Medium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-top: 21px;
}

.menu-footer-item {
  min-width: 55px;
}

.menu-footer-item:first-letter {
  text-transform: capitalize;
}

.policy-personal-data {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8F8E8E;
}